<div id="greetingTemplate" #greetingTemplate class="es-wrapper-color">
  <table class="es-wrapper" style="height: 100vh;" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="esd-email-paddings ui-droppable" valign="top">
          <table class="es-content ui-draggable" style="height: 100%;" cellspacing="0" cellpadding="0" align="center">
            <tbody>
              <tr>
                <td class="esd-stripe esd-frame esdev-disable-select esd-activated" esd-custom-block-id="5449"
                  esd-handler-name="stripeBlockHandler" align="center">
                  <table class="es-content-body"
                    style="border: 2px solid rgb(11 6 3); background-color: rgb(255, 255, 255);"
                    width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
                    <tbody class="ui-droppable">
                      <tr class="ui-draggable">
                        <td class="esd-structure esd-frame esdev-disable-select esd-activated esd-hover"
                          esd-handler-name="structureBlockHandler" align="left">
                          <table style="height: 100%;" width="100%" cellspacing="0" cellpadding="0">
                            <tbody class="ui-droppable">
                              <tr class="ui-draggable">
                                <td class="esd-container-frame esd-frame esd-hover esdev-disable-select"
                                  esd-handler-name="containerHandler" width="598" valign="top" align="center">
                                  <table style="height: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0">
                                    <tbody class="ui-droppable">
                                      <tr class="ui-draggable">
                                        <td
                                          class="esd-block-image esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                          style="font-size:0" esd-handler-name="imgBlockHandler" align="center">
                                          <img class="adapt-img"
                                            src="../../../../../assets/greetings/anime-greetings/ag-template2/images/Pain-1-Wallpaper.jpg"
                                            alt="Pain-Wallpaper" style="display: block; height: 100%; width: 100%;" title="Happy Birthday!"
                                            width="598">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <table style="height: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0">
                                            <tbody class="ui-droppable">
                                              <tr class="ui-draggable">
                                                <td style="padding: 10px;"
                                                  class="esd-block-text es-m-txt-c es-p20t es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                  esd-handler-name="textElementHandler" align="center">
                                                  <div class="esd-block-btn ">
                                                    <div class="esd-more"><a><span class="es-icon-dot-3"></span></a></div>


                                                    <div class="esd-move ui-draggable-handle" title="Move">
                                                      <a><span class="es-icon-move"></span></a>
                                                    </div>
                                                    <div class="esd-copy ui-draggable-handle" title="Copy">
                                                      <a><span class="es-icon-copy"></span></a>
                                                    </div>
                                                    <div class="esd-delete" title="Delete">
                                                      <a><span class="es-icon-delete"></span></a>
                                                    </div>
                                                  </div>
                                                  <h1 class="custom-font-family" style="color: rgb(131, 96, 39); font-size: 32px;">
                                                    Dear {{recipientName}},
                                                  </h1>
                                                </td>
                                              </tr>
                                              <tr class="ui-draggable">
                                                <td style="padding: 10px;"
                                                  class="esd-block-text es-m-txt-c es-p10t es-p20b es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                  esd-handler-name="textElementHandler" align="center">
                                                  <p class="custom-font-family" style="color: #333333; font-size: 16px;">
                                                    For jewelry with your birthstone.
                                                    Traditional, ancient or modern - see below.
                                                    {{customMessage}}
                                                  </p>
                                                </td>
                                              </tr>
                                              <tr class="ui-draggable">
                                                <td style="padding: 10px; color: black; font-size: 20px;"
                                                  class="custom-font-family esd-block-button es-p10t es-p30b es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                  esd-handler-name="btnBlockHandler" align="center">
                                                  <span>
                                                    From, <br>
                                                    {{senderName}}
                                                  </span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
