<div id="greetingTemplate" #greetingTemplate class="es-wrapper-color">
  <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="esd-email-paddings ui-droppable" valign="top">
          <table class="es-content ui-draggable" style="height: 100%;" cellspacing="0" cellpadding="0" align="center">
            <tbody>
              <tr>
                <td class="esd-stripe esd-frame esdev-disable-select esd-activated" esd-custom-block-id="5449"
                  esd-handler-name="stripeBlockHandler" align="center">
                  <table class="es-content-body"
                    style="border-left: 2px solid rgb(131, 96, 39); border-right: 2px solid rgb(131, 96, 39); border-top: 2px solid rgb(131, 96, 39); border-bottom: 2px solid rgb(131, 96, 39); background-color: rgb(255, 255, 255);"
                    width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
                    <tbody class="ui-droppable">
                      <tr class="ui-draggable">
                        <td class="esd-structure esd-frame esdev-disable-select esd-activated esd-hover"
                          esd-handler-name="structureBlockHandler" align="left">
                          <table style="height: 100%;" width="100%" cellspacing="0" cellpadding="0">
                            <tbody class="ui-droppable">
                              <tr class="ui-draggable">
                                <td class="esd-container-frame esd-frame esd-hover esdev-disable-select"
                                  esd-handler-name="containerHandler" width="598" valign="top" align="center">
                                  <table style="height: 100%; width: 100%;" width="100%" cellspacing="0"
                                    cellpadding="0">
                                    <tbody class="ui-droppable">
                                      <tr class="ui-draggable">
                                        <td>
                                          <table style="height: auto !important;" class="es-content ui-draggable"
                                            cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                              <tr>
                                                <td class="esd-stripe esd-frame esdev-disable-select esd-hover"
                                                  esd-handler-name="stripeBlockHandler" align="center">
                                                  <table style="background-color: #ffffff; width: 100%;" width="600"
                                                    cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
                                                    <tbody class="ui-droppable">
                                                      <tr class="ui-draggable">
                                                        <td
                                                          class="esd-structure es-p20t es-p20r es-p20l esd-frame esdev-disable-select esd-hover"
                                                          style="padding: 5% 5% 0% 5%; font-size: 0px;" align="center">
                                                          <img class="adapt-img esdev-stretch-width"
                                                            src="./../../assets/greetings/miscellanous-greetings/mg-template4/images/happy-programming-image-1.png"
                                                            alt="Have a fun programmer day"
                                                            style="display: block; width: 100%;"
                                                            title="Have a fun programmer day" width="560">
                                                        </td>
                                                      </tr>
                                                      <tr class="ui-draggable">
                                                        <table width="100%" cellspacing="0" cellpadding="0">
                                                          <tbody class="ui-droppable">
                                                            <tr class="ui-draggable">
                                                              <td
                                                                class="esd-container-frame esd-frame esd-hover esdev-disable-select"
                                                                style="padding: 2%;" width="560" valign="top"
                                                                align="center">
                                                                <h1><strong>Have a fun programmer day!</strong></h1>
                                                              </td>
                                                            </tr>
                                                            <tr class="ui-draggable">
                                                              <td
                                                                class="esd-block-text es-p5t es-p5b esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                                esd-links-underline="none"
                                                                esd-handler-name="textElementHandler" align="center">
                                                                <p>
                                                                  It's not a bug, it's an undocumented feature
                                                                  😅<br>For when coffee isn’t
                                                                  enough to bring a smile to your face
                                                                </p>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </tr>
                                                      <tr class="ui-draggable">
                                                        <table width="600" cellspacing="0" cellpadding="0"
                                                          bgcolor="#ffffff"
                                                          style="width: 100%; padding: 4% 3% 1% 3%; display: flex;"
                                                          align="center">
                                                          <tbody style="width: 100%;" class="ui-droppable">
                                                            <tr style="display: flex;" style="display: flex;"
                                                              class="ui-draggable">
                                                              <td style="width: 100%; padding: 0px 0px 4% 0px;"
                                                                class="esd-structure es-p20t es-p20b es-p20r es-p20l esd-frame esdev-disable-select esd-hover"
                                                                esd-custom-block-id="358122"
                                                                esd-handler-name="structureBlockHandler" align="left">
                                                                <table class="es-left" cellspacing="0" cellpadding="0"
                                                                  align="center">
                                                                  <tbody class="ui-droppable">
                                                                    <tr class="ui-draggable">
                                                                      <td style="width: 100%;"
                                                                        class="es-m-p20b esd-container-frame esd-frame esd-hover esdev-disable-select"
                                                                        esd-custom-block-id="358131"
                                                                        esd-handler-name="containerHandler" width="270"
                                                                        align="left">
                                                                        <img
                                                                          class="adapt-img esdev-stretch-width esdev-banner-rendered"
                                                                          src="./../../assets/greetings/miscellanous-greetings/mg-template4/images/happy-programming-image-2.png"
                                                                          alt="Fun story" title="Fun story"
                                                                          style="display: block;" width="270">
                                                                      </td>
                                                                      <td style="width: 100%;"
                                                                        class="es-m-p20b esd-container-frame esd-frame esd-hover esdev-disable-select"
                                                                        esd-custom-block-id="358131"
                                                                        esd-handler-name="containerHandler" width="270"
                                                                        align="right">
                                                                        <img
                                                                          class="adapt-img esdev-stretch-width esdev-banner-rendered"
                                                                          src="./../../assets/greetings/miscellanous-greetings/mg-template4/images/happy-programming-image-3.png"
                                                                          alt="Fun story" title="Fun story"
                                                                          style="display: block;" width="270">
                                                                      </td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                            <tr style="display: flex;" class="ui-draggable">
                                                              <td style="width: 100%; padding: 0px 0px 4% 0px;"
                                                                class="esd-structure es-p20b es-p20r es-p20l esd-frame esd-hover esdev-disable-select"
                                                                esd-custom-block-id="358124"
                                                                esd-handler-name="structureBlockHandler" align="center">
                                                                <img
                                                                  class="adapt-img esdev-stretch-width esdev-banner-rendered"
                                                                  src="./../../assets/greetings/miscellanous-greetings/mg-template4/images/happy-programming-image-4.png"
                                                                  alt="Fun story" title="Fun story"
                                                                  style="display: block;" width="560">
                                                              </td>
                                                            </tr>
                                                            <tr style="display: flex;" class="ui-draggable">
                                                              <td style="width: 100%; padding: 0px 0px 4% 0px;"
                                                                class="esd-structure es-p20t es-p20b es-p20r es-p20l esd-frame esdev-disable-select esd-hover"
                                                                esd-custom-block-id="358122"
                                                                esd-handler-name="structureBlockHandler" align="left">
                                                                <table class="es-left" cellspacing="0" cellpadding="0"
                                                                  align="center">
                                                                  <tbody class="ui-droppable">
                                                                    <tr class="ui-draggable">
                                                                      <td style="width: 100%;"
                                                                        class="es-m-p20b esd-container-frame esd-frame esd-hover esdev-disable-select"
                                                                        esd-custom-block-id="358131"
                                                                        esd-handler-name="containerHandler" width="270"
                                                                        align="left">
                                                                        <img
                                                                          class="adapt-img esdev-stretch-width esdev-banner-rendered"
                                                                          src="./../../assets/greetings/miscellanous-greetings/mg-template4/images/happy-programming-image-5.png"
                                                                          alt="Fun story" title="Fun story"
                                                                          style="display: block;" width="270">
                                                                      </td>
                                                                      <td style="width: 100%;"
                                                                        class="es-m-p20b esd-container-frame esd-frame esd-hover esdev-disable-select"
                                                                        esd-custom-block-id="358131"
                                                                        esd-handler-name="containerHandler" width="270"
                                                                        align="right">
                                                                        <img
                                                                          class="adapt-img esdev-stretch-width esdev-banner-rendered"
                                                                          src="./../../assets/greetings/miscellanous-greetings/mg-template4/images/happy-programming-image-6.png"
                                                                          alt="Fun story" title="Fun story"
                                                                          style="display: block;" width="270">
                                                                      </td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="border-top: 2px solid black;">
                                          <table style="height: 100%; width: 100%;" width="100%" cellspacing="0"
                                            cellpadding="0">
                                            <tbody class="ui-droppable">
                                              <tr class="ui-draggable">
                                                <td style="padding: 10px;"
                                                  class="esd-block-text es-m-txt-c es-p20t es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                  esd-handler-name="textElementHandler" align="center">
                                                  <h1 class="custom-font-family"
                                                    style="color: rgb(131, 96, 39); font-size: 32px;">
                                                    Dear
                                                    <ng-container *ngIf="!recipientName">
                                                      {{defaultRecipientName}}
                                                    </ng-container>
                                                    {{recipientName}},
                                                  </h1>
                                                </td>
                                              </tr>
                                              <tr class="ui-draggable">
                                                <td style="padding: 10px;"
                                                  class="esd-block-text es-m-txt-c es-p10t es-p20b es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                  esd-handler-name="textElementHandler" align="center">
                                                  <p class="custom-font-family"
                                                    style="color: #333333; font-size: 16px; word-break: break-word;">
                                                    <ng-container *ngIf="!customMessage">
                                                      {{defaultCustomMessage}}
                                                    </ng-container>
                                                    {{customMessage}}
                                                  </p>
                                                </td>
                                              </tr>
                                              <tr class="ui-draggable">
                                                <td style="padding: 10px; color: black; font-size: 20px;"
                                                  class="custom-font-family esd-block-button es-p10t es-p30b es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                  esd-handler-name="btnBlockHandler" align="center">
                                                  <span>
                                                    From, <br>
                                                    <ng-container *ngIf="!senderName">
                                                      {{defaultSenderName}}
                                                    </ng-container>
                                                    {{senderName}}
                                                  </span>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
