/**************** Predefined CSS ****************/

:host(::ng-deep .internal-splitter) .p-splitter-panel.p-splitter-panel-nested {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
}

::ng-deep .p-chips.p-component {
  width: 100%;
}

::ng-deep .p-inputtext.p-chips-multiple-container {
  width: 100%;
  padding: 10px 0px;
}

::ng-deep .p-chips-input-token > input[type="text"] {
  padding: 0px 12px !important;
}

.p-button:disabled {
  cursor: not-allowed;
}

/**************** Custom CSS ****************/

.pl-0 {
  padding-left: 0px;
}

.vw-85 {
  width: 85vw !important;
}

.ml-n10p {
  margin-left: -10px;
}

.resize-none {
  resize: unset;
}

.overflow-custom {
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-font-family {
  font-family: 'Titillium Web', sans-serif;
}
