<div class="d-flex vw-85">
  <p-splitter class="internal-splitter p-0 ml-n10p overflow-hidden" [style.width]="'100%'" [style.height]="'98vh'" [style.overflow]="'auto'" [minSizes]="[26, 50]"
    [gutterSize]="5" [panelSizes]="[26, 74]" layout="horizontal">
    <ng-template pTemplate>
      <div class="d-flex flex-column custom-font-family">
        <div class="d-flex header">
          <h3 class="d-flex px-2">
            <u>Greeting Template Details</u>
          </h3>
          <i class="pi pi-info-circle p-2 clickable" (click)="showHelpDialog()" style="font-size: 1rem; cursor: pointer;"></i>
        </div>
        <form class="overflow-custom" #greetingCardForm="ngForm">
          <div class="form-group m-auto p-field row p-3">
            <label for="emailSubject" class="pl-0 pb-2"> Enter Email Subject </label>
            <input type="text" class="form-control ng-invalid ng-dirty p-inputtext p-component p-element" id="emailSubject"
              name="emailSubject" placeholder="Enter Email's Subject" aria-describedby="emailSubject-help" autocomplete="off"
                [(ngModel)]="emailSubject" #emailSubjectModel="ngModel" required>
            <small *ngIf="emailSubjectModel.invalid" id="emailSubject-help" class="p-error"> Email Subject cannot be empty! </small>
          </div>
          <p-fieldset legend="Custom Message Info." [toggleable]="true">
            <div class="form-group m-auto row p-3">
              <label for="customMessage" class="pl-0 pb-2"> Enter Custom Message </label>
              <textarea maxlength="600" rows="5" cols="30" class="p-inputtextarea p-inputtext resize-none p-component p-element form-control" aria-describedby="customMessage-help"
                id="customMessage" name="customMessage" placeholder="Enter Message" [(ngModel)]="customMessage"></textarea>
              <small *ngIf="customMessage.length == 600" id="customMessage-help" class="p-error"> Max characters for message field reached! </small>
            </div>
            <div class="form-group m-auto p-field row px-3 pt-1 pb-3">
              <label for="enableCustomMessage" class="pl-0 pb-2"> Enable Custom Message Name field? </label>
              <p-inputSwitch class="pl-0" name="enableCustomMessage" [(ngModel)]="enableCustomMessage" (onChange)="onInputKeyDown()"></p-inputSwitch>
            </div>
            <div class="form-group m-auto p-field row px-3 pt-1 pb-3">
              <label for="templateCustomMessage" class="pl-0 pb-2"> Select a Template Message from the Preset </label>
              <p-dropdown name="templateCustomMessage" class="p-0" placeholder="Select a Message" optionLabel="name" [showClear]="true"
                [options]="componentTemplatePresetMessages" [(ngModel)]="selectedTemplatePresetMessage" (onChange)="onInputKeyDown()"></p-dropdown>
            </div>
          </p-fieldset>
          <p-fieldset legend="Recipient Info." [toggleable]="true">
            <div class="form-group m-auto p-field row p-3">
              <label for="recipientSalutation" class="pl-0 pb-2"> Enter Recipient Salutation (optional) </label>
              <input type="text" class="form-control p-inputtext p-component p-element"
                id="recipientSalutation" name="recipientSalutation" [(ngModel)]="recipientSalutation"
                placeholder="Enter some salutation eg. 'Dear', 'Respected' etc."
                title="Enter some salutation eg. 'Dear', 'Respected' etc.">
            </div>
            <div class="form-group m-auto p-field row p-3">
              <label for="recipientName" class="pl-0 pb-2"> Enter Recipient's Name </label>
              <input type="username" class="form-control ng-invalid ng-dirty p-inputtext p-component p-element" id="recipientName"
                name="recipientName" placeholder="Enter Name" aria-describedby="recipientName-help" [disabled]="!enableRecipientName"
                [(ngModel)]="recipientName" #recipientNameModel="ngModel" required>
                <small *ngIf="recipientNameModel.invalid" id="recipientName-help" class="p-error"> Recipient's Name cannot be empty! </small>
            </div>
            <div class="form-group m-auto p-field row px-3 pt-1 pb-3">
              <label for="enableRecipientName" class="pl-0 pb-2"> Enable Recipient Name field? </label>
              <p-inputSwitch class="pl-0" name="enableRecipientName" [(ngModel)]="enableRecipientName" (onChange)="onInputKeyDown()"></p-inputSwitch>
            </div>
          </p-fieldset>
          <div class="form-group m-auto row p-3">
            <label for="recipientAddressCC" class="pl-0 pb-2"> Enter Recipient(s)'s Email Address </label>
            <p-chips class="p-0" id="recipientAddressCC" name="recipientAddress" aria-describedby="recipientAddress-help"
              placeholder="Enter Email Address and hit 'Enter Key'" [(ngModel)]="recipientAddress">
              <ng-template let-item pTemplate="item">
                  {{item}} &nbsp; <i class="pi pi-user p-ml-2"></i>
              </ng-template>
            </p-chips>
            <small *ngIf="!recipientAddress || recipientAddress.length == 0" id="recipientAddress-help" class="p-error"> Recipient(s)'s Email Address cannot be empty! </small>
          </div>
          <div class="form-group m-auto row p-3">
            <label for="recipientAddressCC" class="pl-0 pb-2"> Enter Recipient(s)'s Email Address (CC) </label>
            <p-chips class="p-0" id="recipientAddressCC" name="recipientAddressCC"
              placeholder="Enter Email Address and hit 'Enter Key'" [(ngModel)]="recipientAddressCC">
              <ng-template let-item pTemplate="item">
                  {{item}} &nbsp; <i class="pi pi-user p-ml-2"></i>
              </ng-template>
            </p-chips>
          </div>
          <div class="form-group m-auto row p-3">
            <label for="recipientAddressBCC" class="pl-0 pb-2"> Enter Recipient(s)'s Email Address (BCC) </label>
            <p-chips class="p-0" id="recipientAddressBCC" name="recipientAddressBCC"
              placeholder="Enter Email Address and hit 'Enter Key'" [(ngModel)]="recipientAddressBCC">
              <ng-template let-item pTemplate="item">
                  {{item}} &nbsp; <i class="pi pi-user p-ml-2"></i>
              </ng-template>
            </p-chips>
          </div>
          <p-fieldset legend="Sender Info." [toggleable]="true">
            <div class="form-group m-auto p-field row p-3">
              <label for="senderSalutation" class="pl-0 pb-2"> Enter Sender Salutation (optional) </label>
              <input type="text" class="form-control p-inputtext p-component p-element"
                id="senderSalutation" name="senderSalutation" [(ngModel)]="senderSalutation"
                placeholder="Enter some salutation eg. 'From', 'Regards', 'Yours' etc."
                title="Enter some salutation eg. 'From', 'Regards', 'Yours' etc.">
            </div>
            <div class="form-group m-auto p-field row p-3">
              <label for="senderName" class="pl-0 pb-2"> Enter Sender's Name </label>
              <input type="username" class="form-control p-inputtext p-component p-element" id="senderName" name="senderName"
                placeholder="Enter Sender's Name" autocomplete="off" [disabled]="!enableSenderName" [(ngModel)]="senderName">
            </div>
            <div class="form-group m-auto p-field row px-3 pt-1 pb-3">
              <label for="enableSenderName" class="pl-0 pb-2"> Enable Sender's Name field? </label>
              <p-inputSwitch class="pl-0" name="enableSenderName" [(ngModel)]="enableSenderName" (onChange)="onInputKeyDown()"></p-inputSwitch>
            </div>
          </p-fieldset>
          <div class="form-group m-auto row p-3">
            <label for="senderAddress" class="pl-0 pb-2"> Enter Sender's Email Address </label>
            <input type="email" class="form-control p-inputtext p-component p-element" id="senderAddress" name="senderAddress"
              placeholder="Enter Sender's Email Address" aria-describedby="senderAddress-help" autocomplete="off"
              [(ngModel)]="senderAddress" required #senderAddressModel="ngModel">
            <small *ngIf="senderAddressModel.invalid" id="senderAddress-help" class="p-error"> Sender's Email Address cannot be empty! </small>
          </div>
          <div class="form-group m-auto row p-3 justify-content-between d-flex div-custom">
            <div class="col-md-5 p-0 btn-custom-style">
              <button pButton type="button" label="Save Image" class="p-button-info p-button-raised w-100"
                (click)="downloadTemplate()"></button>
            </div>
            <div class="col-md-5 p-0 btn-custom-style">
              <button pButton type="button" label="Send Email" class="p-button-success p-button-raised w-100"
                [disabled]="(!recipientAddress || recipientAddress.length == 0) || (!senderAddress || senderAddress.length == 0) || (enableRecipientName && (recipientNameModel.invalid)) || (emailSubjectModel.invalid)"
                (click)="submitTemplateDetails()"></button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <ng-container *ngComponentOutlet="componentName; injector: componentInjector"></ng-container>
    </ng-template>
  </p-splitter>
</div>
