/**************** Predefined CSS ****************/

::ng-deep .p-splitter-panel.p-splitter-panel-nested {
  overflow-x: hidden;
}

::ng-deep .p-chips.p-component {
  width: 100%;
}

::ng-deep .p-inputtext.p-chips-multiple-container {
  width: 100%;
  padding: 10px 0px;
}

::ng-deep .p-chips-input-token > input[type="text"] {
  padding: 0px 12px !important;
}

/**************** Custom CSS ****************/

.pl-0 {
  padding-left: 0px;
}

.vw-85 {
  width: 85vw !important;
}

.resize-none {
  resize: unset;
}
