<div id="greetingTemplate" #greetingTemplate class="es-wrapper-color">
  <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="esd-email-paddings ui-droppable" valign="top">
          <table class="es-content ui-draggable" style="height: 100%;" cellspacing="0" cellpadding="0" align="center">
            <tbody>
              <tr>
                <td class="esd-stripe esd-frame esdev-disable-select esd-activated" esd-custom-block-id="5449"
                  esd-handler-name="stripeBlockHandler" align="center">
                  <table class="es-content-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                    align="center">
                    <tbody class="ui-droppable">
                      <tr class="ui-draggable">
                        <td class="esd-structure esd-frame esdev-disable-select esd-activated esd-hover"
                          style="background-color: #ffffff;" esd-handler-name="structureBlockHandler" align="left">
                          <table style="height: 100%; width: 100%; background-color: #dacab7;" width="100%"
                            cellspacing="0" cellpadding="0">
                            <tbody class="ui-droppable">
                              <tr class="ui-draggable">
                                <td
                                  class="esd-block-image esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                  style="font-size:0" esd-handler-name="imgBlockHandler" align="center">
                                  <!-- <img class="adapt-img esdev-stretch-width esdev-banner-rendered"
                                            src="../../../../../assets/greetings/best-wishes-greetings/bwg-template2/images/happy-mothers-day-image.png"
                                            alt="Happy mother's day" title="Happy mother's day" style="display: block; height: 100%; width: 100%;"
                                            width="598"> -->
                                  <table width="100%" cellspacing="0" cellpadding="0">
                                    <tbody class="ui-droppable">
                                      <tr class="ui-draggable">
                                        <td
                                          class="esd-container-frame esd-frame esd-hover esdev-disable-select esd-active"
                                          esd-handler-name="containerHandler" width="560" align="left">
                                          <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody class="ui-droppable">
                                              <tr class="ui-draggable">
                                                <td style="justify-content: center; display: flex; padding: 14px;"
                                                  class="esd-block-text es-p10t es-p15b esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                  esd-handler-name="textElementHandler" align="left">
                                                  <h1>BEST DAD EVER!</h1>
                                                </td>
                                              </tr>
                                              <tr class="ui-draggable">
                                                <td style="justify-content: center; display: flex; padding: 10px;"
                                                  class="esd-block-text esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                  esd-handler-name="textElementHandler" align="center">
                                                  <p style="font-size: 20px;">
                                                    Happy Father's Day to my wonderful
                                                    Father!<br><strong>Steel yourself</strong> for a day of
                                                    celebrating a super Dad!
                                                  </p>
                                                </td>
                                              </tr>
                                              <tr class="ui-draggable">
                                                <td
                                                  class="esd-block-image es-p10t esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                  style="font-size: 0px;" esd-handler-name="imgBlockHandler"
                                                  align="center">
                                                  <img class="adapt-img"
                                                    src="../../../../../assets/greetings/best-wishes-greetings/bwg-template3/images/happy-fathers-day-image.png"
                                                    alt="FATHERS DAY" style="display: block;" title="FATHERS DAY"
                                                    width="560">
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table style="height: 100%; width: 100%;" width="100%" cellspacing="0"
                                    cellpadding="0">
                                    <tbody class="ui-droppable">
                                      <tr class="ui-draggable">
                                        <td style="padding: 10px;"
                                          class="esd-block-text es-m-txt-c es-p20t es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                          esd-handler-name="textElementHandler" align="center">
                                          <h1 class="custom-font-family"
                                            style="color: rgb(227 163 58) !important; font-size: 32px !important;">
                                            Dear {{recipientName}},
                                          </h1>
                                        </td>
                                      </tr>
                                      <tr class="ui-draggable">
                                        <td style="padding: 10px;"
                                          class="esd-block-text es-m-txt-c es-p10t es-p20b es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                          esd-handler-name="textElementHandler" align="center">
                                          <p class="custom-font-family"
                                            style="color: black; font-size: 16px; word-break: break-word;">
                                            For jewelry with your birthstone.
                                            Traditional, ancient or modern - see below.
                                            {{customMessage}}
                                          </p>
                                        </td>
                                      </tr>
                                      <tr class="ui-draggable">
                                        <td style="padding: 10px; color: black; font-size: 20px;"
                                          class="custom-font-family esd-block-button es-p10t es-p30b es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                          esd-handler-name="btnBlockHandler" align="center">
                                          <span>
                                            From, <br>
                                            {{senderName}}
                                          </span>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
