<!-- Panel 2 -->
<div #customcontainer1 *ngIf="!!templateData" class="custom-container-1 d-flex flex-column" [style]="{ 'padding-top': '.75rem', 'padding-bottom': '.75rem' }">
  <div class="d-flex flex-row" *ngFor="let item of templateData | slice: 0 : getRows(templateData.length); let i = index">
    <div class="d-flex custom-margin w-40 flex-column" *ngFor="let template of templateData | slice: i * 4 : (i * 4) + 4; let j = index">
      <app-greetings-template [templateInfo]="template"></app-greetings-template>
    </div>
  </div>
</div>
