/***************** Predefined CSS ******************/

::ng-deep.p-splitter-panel-nested {
  padding: 10px;
  overflow: auto;
}

::ng-deep .p-menubar.p-component,
::ng-deep .p-splitter.p-component {
  border-radius: 0px !important;
  height: auto !important;
}

::ng-deep .p-panelmenu .p-panelmenu-panel:first-child .p-panelmenu-header > a {
  border-radius: 0px;
}

::ng-deep
  .p-panelmenu
  .p-panelmenu-panel:last-child
  .p-panelmenu-header:not(.p-highlight)
  > a {
  border-radius: 0px;
}

/* ::ng-deep
  .p-panelmenu
  .p-panelmenu-header:not(.p-highlight):not(.p-disabled)
  > a:hover {
  color: black;
} */

::ng-deep .custom-button {
  width: 5rem;
  font-size: small;
}

::ng-deep .pi {
  font-size: 0.8rem;
}

::ng-deep .p-button .p-button-icon-left {
  margin-right: 0.2rem !important;
}

::ng-deep .p-splitter-panel-nested {
  width: 100%;
}

/***************** Custom CSS *****************/

.main-container .row .col-sm-12 {
  padding: 0px !important;
}

.custom-container-1 {
  width: 100%;
  display: flex;
  overflow: auto;
  justify-content: center;
  margin: 0px auto;
  overflow: unset;
}

.custom-margin {
  margin-right: 2px;
  margin-left: 2px;
}

.w-40 {
  width: 40%;
  max-width: 25%;
}
