/***************** Predefined CSS ******************/

::ng-deep .p-splitter-panel-nested {
  padding: 10px;
  height: 100.4vh;
}

::ng-deep .p-splitter-panel.p-splitter-panel-nested {
  overflow: auto;
}

:host(.p-splitter-panel-nested) {
  overflow-y: auto;
}

::ng-deep .p-menubar.p-component,
::ng-deep .p-splitter.p-component {
  border-radius: 0px !important;
  height: auto !important;
}

::ng-deep .p-panelmenu .p-panelmenu-panel:first-child .p-panelmenu-header > a {
  border-radius: 0px;
}

::ng-deep
  .p-panelmenu
  .p-panelmenu-panel:last-child
  .p-panelmenu-header:not(.p-highlight)
  > a {
  border-radius: 0px;
}

::ng-deep .custom-button {
  font-size: small;
}

::ng-deep .pi {
  font-size: 0.8rem;
}

::ng-deep .p-button .p-button-icon-left {
  margin-right: 0.2rem !important;
}

::ng-deep .p-splitter-panel-nested {
  width: 100%;
}

/***************** Custom CSS *****************/

::ng-deep .internal-splitter .p-splitter-panel.p-splitter-panel-nested {
  overflow-y: auto !important;
  height: auto;
}

.main-container .row .col-sm-12 {
  padding: 0px !important;
}

.custom-container-1 {
  width: 100%;
  display: flex;
  overflow: auto;
  justify-content: center;
  margin: 0px auto;
  overflow: unset;
}

.custom-margin {
  margin-right: 2px;
  margin-left: 2px;
}

.w-40 {
  width: 40%;
  max-width: 25%;
}

.clickable, .clickable:hover {
  cursor: pointer !important;
}

::ng-deep .p-element.p-panelmenu-header {
  cursor: pointer !important;
}

::ng-deep .p-confirm-dialog-reject.p-button {
  color: black !important;
  background-color: white !important;
}

::ng-deep .fs-custom-1 {
  font-size: 1.5rem;
}

::ng-deep .fs-custom-2 {
  font-size: 1.2rem;
}
