<div class="container-fluid main-container">
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <div class="row">
    <div class="col-sm-12">
      <p-menubar>
        <ng-template pTemplate="start">
            <img src="./assets/images/AppLogo2.png" alt="App Logo" height="60" width="200" class="p-mr-2 clickable" [routerLink]="isFormEdited ? ' ' : '/home'">
        </ng-template>
        <ng-template pTemplate="end">
            <input type="text" pInputText placeholder="Search">
        </ng-template>
      </p-menubar>
      <div class="d-flex">
        <p-panelMenu [style.width]="'12%'" [model]="items" [style]="{ 'height': '100.6vh', 'background-color': '#2a323d' }"></p-panelMenu>
        <p-splitter [style.width]="'88%'" [minSizes]="[10, 20]" [gutterSize]="5" [panelSizes]="[5, 80]" layout="horizontal">
          <ng-template pTemplate>
            <router-outlet></router-outlet>
          </ng-template>
        </p-splitter>
      </div>
    </div>
  </div>
</div>
