<p-card #customcard1 header="{{templateInfo.label}}" class="card-style">
    <ng-template pTemplate="header">
        <img [alt]="templateInfo.label" [src]="templateInfo.images[0]" class="img-style">
        </ng-template>
        <p> {{templateInfo.description}} </p>
        <ng-template pTemplate="footer">
        <p-button pStyleClass="custom-button" label="Select" icon="pi pi-check" styleClass="custom-button" [routerLink]="['/greeting/' + templateInfo.category, templateInfo.id]" (click)="selectTemplate()"></p-button>
        <p-button pStyleClass="custom-button" label="See Images" icon="pi pi-external-link" styleClass="custom-button" [style]="{'margin-left': '.5em', 'line-height': '19.5px'}" (click)="showTemplate()"></p-button>
    </ng-template>
</p-card>

<div class="d-flex">
  <p>{{currentTemplateLabel}}</p>
  &nbsp;
  <p>{{currentTemplateNumber}}</p>
  <br>
  <p>
    <button class="btn btn-default" type="button" (click)="doThis()">Test Here!</button>
  </p>
</div>


<p-dialog header="{{templateInfo.label}}" [(visible)]="displayDialog" [style]="{width: '50vw'}" [dismissableMask]="true" [modal]="true">
  <p-carousel [value]="templateInfo.images" [numVisible]="1" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
    <ng-template let-template pTemplate="item">
      <div class="d-flex container h-100 align-items-center justify-content-center bg-white">
        <img alt="{{templateInfo.label}}" src="{{template}}" [style]="{ 'max-height': '100%', 'max-width': '100%' }">
      </div>
    </ng-template>
  </p-carousel>
  <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="displayDialog=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
