/************** Predefined CSS ***************/


::ng-deep.p-card-content {
  height: 216px;
  overflow: auto;
}

/************** Custom CSS ***************/

.img-style {
    height: 250px;
}

.card-style {
    width: 22rem;
    height: 40rem;
    overflow: auto;
    margin-bottom: 2em;
}
