<div id="greetingTemplate" #greetingTemplate class="es-wrapper-color">
    <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td class="esd-email-paddings ui-droppable" valign="top">
            <table class="es-content ui-draggable" style="height: 100%;" cellspacing="0" cellpadding="0" align="center">
              <tbody>
                <tr>
                  <td class="esd-stripe esd-frame esdev-disable-select esd-activated" esd-custom-block-id="5449"
                    esd-handler-name="stripeBlockHandler" align="center">
                    <table class="es-content-body"
                      style="border: 2px solid rgb(11 6 3); background-color: rgb(255, 255, 255);"
                      width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
                      <tbody class="ui-droppable">
                        <tr class="ui-draggable">
                          <td class="esd-structure esd-frame esdev-disable-select esd-activated esd-hover"
                            esd-handler-name="structureBlockHandler" align="left">
                            <table style="height: 100%;" width="100%" cellspacing="0" cellpadding="0">
                              <tbody class="ui-droppable">
                                <tr class="ui-draggable">
                                  <td class="esd-container-frame esd-frame esd-hover esdev-disable-select"
                                    esd-handler-name="containerHandler" width="598" valign="top" align="center">
                                    <table style="height: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody class="ui-droppable">
                                        <tr class="ui-draggable">
                                          <td
                                            class="esd-block-image esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                            style="font-size:0" esd-handler-name="imgBlockHandler" align="center">
                                            <img class="adapt-img"
                                              src="../../../../../assets/greetings/anime-greetings/ag-template8/images/hidan-wallpaper.jpg"
                                              alt="Hidan-Wallpaper" style="display: block; height: 100%; width: 100%;"
                                              width="598">
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <table style="height: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody class="ui-droppable">
                                                <tr class="ui-draggable">
                                                  <td style="padding: 10px;"
                                                    class="esd-block-text es-m-txt-c es-p20t es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                    esd-handler-name="textElementHandler" align="center">
                                                    <h1 *ngIf="!!enableRecipientName" class="custom-font-family" style="color: rgb(131, 96, 39); font-size: 32px;">
                                                      <ng-container *ngIf="!!recipientSalutation && recipientSalutation.length > 0">
                                                        {{recipientSalutation}}
                                                      </ng-container>

                                                      <ng-container *ngIf="!recipientName">
                                                        {{defaultRecipientName}}
                                                      </ng-container>
                                                      {{recipientName}},
                                                    </h1>
                                                  </td>
                                                </tr>
                                                <tr class="ui-draggable">
                                                  <td style="padding: 10px;"
                                                    class="esd-block-text es-m-txt-c es-p10t es-p20b es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                    esd-handler-name="textElementHandler" align="center">
                                                    <p *ngIf="!!enableCustomMessage" class="custom-font-family" style="color: #333333; font-size: 16px; word-break: break-word;">
                                                      <ng-container *ngIf="!customMessage">
                                                        {{defaultCustomMessage}}
                                                      </ng-container>
                                                      {{customMessage}}
                                                    </p>
                                                  </td>
                                                </tr>
                                                <tr class="ui-draggable">
                                                  <td style="padding: 10px; color: black; font-size: 20px;"
                                                    class="custom-font-family esd-block-button es-p10t es-p30b es-p20r es-p20l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                                    esd-handler-name="btnBlockHandler" align="center">
                                                    <span *ngIf="!!enableSenderName">
                                                      <ng-container *ngIf="!!senderSalutation && senderSalutation.length > 0">
                                                        {{senderSalutation}},
                                                      </ng-container>

                                                      <br>

                                                      <ng-container *ngIf="!senderName">
                                                        {{defaultSenderName}}
                                                      </ng-container>
                                                      {{senderName}}
                                                    </span>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
