<div id="greetingTemplate" #greetingTemplate class="es-wrapper-color">
  <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="top">
        <table class="es-content" style="height: 100%; width: 100%;" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td align="center">
              <table class="es-content-body" style="background-color: #ffffff;" width="600" cellspacing="0"
                cellpadding="0" bgcolor="#ffffff" align="center">
                <tr>
                  <td class="es-p30t es-p35b es-p40r es-p40l" align="left">
                    <table width="100%" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="520" valign="top" align="center">
                          <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
                            <tr>
                              <td align="center" style="height: 100px;">
                                <h1
                                  style="color: #666666;font-size: 40px;font-family: lora, georgia, times\ new\ roman, serif">
                                  <em>Happy Birthday!</em>
                                </h1>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="left">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="600" valign="top" align="center">
                                        <table width="100%" cellspacing="0" cellpadding="0"
                                            role="presentation">
                                            <tr>
                                                <td style="font-size:0" align="center">
                                                    <img class="adapt-img"
                                                        src="../../../../../assets/greetings/birthday-greetings/bg-template2/images/36321522405737710.gif"
                                                        style="display: block; height: 100%; width: 100%;" alt="Happy Birthday!" title="Happy Birthday!"
                                                        width="300" height="213" layout="responsive" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="es-p30t es-p40b es-p40r es-p40l" align="left">
                    <table width="100%" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="520" valign="top" align="center">
                          <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
                            <tr>
                              <td align="center">
                                <p *ngIf="!!enableRecipientName">
                                  Dear
                                  <ng-container *ngIf="!recipientName">
                                    {{defaultRecipientName}}
                                  </ng-container>
                                  {{recipientName}},
                                </p>
                                <p *ngIf="!!enableCustomMessage" style="color: #999999; padding: 10px;">
                                  Yes, it’s a special day, because the kindest and beautiful hearted person was born on this special day.
                                  <br>
                                  Happy birthday, thanks for joining to our life.
                                  <br><br>
                                  <ng-container *ngIf="!customMessage">
                                    {{defaultCustomMessage}}
                                  </ng-container>
                                  {{customMessage}}
                                </p>
                              </td>
                            </tr>
                            <tr>
                              <td class="es-p15t" align="center">
                                <p *ngIf="!!enableSenderName" style="color: #999999; padding-bottom: 2%;">
                                  <em>
                                    Best regards, <br>
                                    <ng-container *ngIf="!senderName">
                                      {{defaultSenderName}}
                                    </ng-container>
                                    {{senderName}}
                                  </em> <br>
                                  </p>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
