<div id="greetingTemplate" #greetingTemplate class="es-wrapper-color">
  <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td class="esd-email-paddings ui-droppable" valign="top">
          <table class="es-content ui-draggable" style="height: 100%;" cellspacing="0" cellpadding="0" align="center">
            <tbody>
              <tr>
                <td class="es-adaptive esd-stripe esd-frame esdev-disable-select esd-activated"
                  esd-handler-name="stripeBlockHandler" align="center">
                  <table class="es-content-body" style="background-color: #fafcfb;" width="600" cellspacing="0"
                    cellpadding="0" bgcolor="#fafcfb" align="center">
                    <tbody class="ui-droppable">
                      <tr class="ui-draggable">
                        <td class="esd-structure es-p10r es-p10l esd-frame esdev-disable-select esd-activated esd-hover"
                          esd-handler-name="structureBlockHandler" align="left">
                          <table width="100%" cellspacing="0" cellpadding="0">
                            <tbody class="ui-droppable">
                              <tr class="ui-draggable">
                                <td class="esd-container-frame esd-frame esd-hover esdev-disable-select"
                                  esd-handler-name="containerHandler" width="580" valign="top" align="center">
                                  <div class="esd-structure-type"></div>
                                  <div class="esd-block-btn ">
                                    <div class="esd-more"><a><span class="es-icon-dot-3"></span></a></div>

                                    <div class="esd-save" title="Save as module">
                                      <a><span class="es-icon-save"></span></a>
                                    </div>

                                    <div class="esd-move ui-draggable-handle" title="Move">
                                      <a><span class="es-icon-move"></span></a>
                                    </div>
                                    <div class="esd-copy ui-draggable-handle" title="Copy">
                                      <a><span class="es-icon-copy"></span></a>
                                    </div>
                                    <div class="esd-delete" title="Delete">
                                      <a><span class="es-icon-delete"></span></a>
                                    </div>
                                  </div>
                                  <table width="100%" cellspacing="0" cellpadding="0">
                                    <tbody class="ui-droppable">
                                      <tr class="ui-draggable">
                                        <td
                                          class="esd-block-banner esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                          style="position: relative;" esd-handler-name="bannerBlockHandler"
                                          align="center">
                                          <div class="esd-block-btn ">
                                            <div class="esd-more"><a><span class="es-icon-dot-3"></span></a></div>


                                            <div class="esd-move ui-draggable-handle" title="Move">
                                              <a><span class="es-icon-move"></span></a>
                                            </div>
                                            <div class="esd-copy ui-draggable-handle" title="Copy">
                                              <a><span class="es-icon-copy"></span></a>
                                            </div>
                                            <div class="esd-delete" title="Delete">
                                              <a><span class="es-icon-delete"></span></a>
                                            </div>
                                          </div>
                                            <img class="adapt-img esdev-stretch-width esdev-banner-rendered"
                                              style="padding: 15px;"
                                              src="../../../../../assets/greetings/birthday-greetings/bg-template3/images/1451577359453383.png"
                                              alt="Balloons and Fireworks" title="" style="display: block; height: 100%; width: 100%;" width="580">
                                        </td>
                                      </tr>
                                      <tr class="ui-draggable">
                                        <td
                                          class="esd-block-text es-m-txt-c es-p40t es-p30r es-p30l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                          esd-handler-name="textElementHandler" align="center">
                                          <div class="esd-block-btn ">
                                            <div class="esd-more"><a><span class="es-icon-dot-3"></span></a></div>


                                            <div class="esd-move ui-draggable-handle" title="Move">
                                              <a><span class="es-icon-move"></span></a>
                                            </div>
                                            <div class="esd-copy ui-draggable-handle" title="Copy">
                                              <a><span class="es-icon-copy"></span></a>
                                            </div>
                                            <div class="esd-delete" title="Delete">
                                              <a><span class="es-icon-delete"></span></a>
                                            </div>
                                          </div>
                                          <h3 style="color: #666666;">Dear {{recipientName}},</h3>
                                        </td>
                                      </tr>
                                      <tr class="ui-draggable">
                                        <td
                                          class="esd-block-text es-m-txt-c es-p5t es-p15b es-p30r es-p30l esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                          esdev-links-color="#ffffff" esd-handler-name="textElementHandler"
                                          align="center">
                                          <div class="esd-block-btn ">
                                            <div class="esd-more"><a><span class="es-icon-dot-3"></span></a></div>


                                            <div class="esd-move ui-draggable-handle" title="Move">
                                              <a><span class="es-icon-move"></span></a>
                                            </div>
                                            <div class="esd-copy ui-draggable-handle" title="Copy">
                                              <a><span class="es-icon-copy"></span></a>
                                            </div>
                                            <div class="esd-delete" title="Delete">
                                              <a><span class="es-icon-delete"></span></a>
                                            </div>
                                          </div>
                                          <h2 style="color: #50b948;">Happy Birthday to Us! We are 3 years!</h2>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr class="ui-draggable">
                        <td class="esd-structure es-p40b es-p30r es-p30l esd-frame esdev-disable-select esd-hover"
                          esd-general-paddings-checked="false" esd-handler-name="structureBlockHandler" align="left">
                          <table width="100%" cellspacing="0" cellpadding="0">
                            <tbody class="ui-droppable">
                              <tr class="ui-draggable">
                                <td class="esd-container-frame esd-frame esd-hover esdev-disable-select"
                                  esd-handler-name="containerHandler" width="540" valign="top" align="center">
                                  <div class="esd-structure-type"></div>
                                  <div class="esd-block-btn ">
                                    <div class="esd-more"><a><span class="es-icon-dot-3"></span></a></div>

                                    <div class="esd-save" title="Save as module">
                                      <a><span class="es-icon-save"></span></a>
                                    </div>

                                    <div class="esd-move ui-draggable-handle" title="Move">
                                      <a><span class="es-icon-move"></span></a>
                                    </div>
                                    <div class="esd-copy ui-draggable-handle" title="Copy">
                                      <a><span class="es-icon-copy"></span></a>
                                    </div>
                                    <div class="esd-delete" title="Delete">
                                      <a><span class="es-icon-delete"></span></a>
                                    </div>
                                  </div>
                                  <table width="100%" cellspacing="0" cellpadding="0">
                                    <tbody class="ui-droppable">
                                      <tr class="ui-draggable">
                                        <td style="padding: 10px;"
                                          class="esd-block-text es-m-txt-c esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                          esd-handler-name="textElementHandler" align="center">
                                          <div class="esd-block-btn ">
                                            <div class="esd-more"><a><span class="es-icon-dot-3"></span></a></div>


                                            <div class="esd-move ui-draggable-handle" title="Move">
                                              <a><span class="es-icon-move"></span></a>
                                            </div>
                                            <div class="esd-copy ui-draggable-handle" title="Copy">
                                              <a><span class="es-icon-copy"></span></a>
                                            </div>
                                            <div class="esd-delete" title="Delete">
                                              <a><span class="es-icon-delete"></span></a>
                                            </div>
                                          </div>
                                          <p>Thank you for choosing us among a wide range of financial companies. We
                                            appreciate your trust and support.</p>
                                          <p>Your honest feedbacks help us improve and get better for you.</p>
                                          <p>Without you we would not be there where we are now.</p>
                                          <p style="color: #999999;">May your company grow. I wish you success.</p>
                                        </td>
                                      </tr>
                                      <tr class="ui-draggable">
                                        <td style="padding: 10px;"
                                          class="esd-block-text es-m-txt-c es-p20t esd-frame esd-hover esdev-disable-select esd-draggable esd-block"
                                          esd-handler-name="textElementHandler" align="center">
                                          <div class="esd-block-btn ">
                                            <div class="esd-more"><a><span class="es-icon-dot-3"></span></a></div>


                                            <div class="esd-move ui-draggable-handle" title="Move">
                                              <a><span class="es-icon-move"></span></a>
                                            </div>
                                            <div class="esd-copy ui-draggable-handle" title="Copy">
                                              <a><span class="es-icon-copy"></span></a>
                                            </div>
                                            <div class="esd-delete" title="Delete">
                                              <a><span class="es-icon-delete"></span></a>
                                            </div>
                                          </div>
                                          <p>Sincerely,</p>
                                          <p><strong>{{senderName}}</strong></p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
